.categories-title {
    width:312px;
    margin: 0 auto;
    line-height: 1.2;

}
.category{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap:24px;
}

.category-card{
     width:312px;
     height: 220px;
     border-radius: 8px;
     background-color: #c4c2c2;
     box-sizing:border-box;


     
     
}
.category-card a{
     display: flex;
     flex-direction: column;
     align-items: center;
     text-decoration: none;
     color: var( --text-primary-color);
     cursor: pointer;
}
.category-card img{
     width: 80px;
     height: 80px;
     margin-top: 41px;
     margin-bottom: 24px;
     
}
.category-card a p {
     font-weight: var(--title-weight);
     font-size: 28px;
     text-align: center;
     margin-bottom: 41px;
     line-height: 1.1;
     

}
@media screen and (min-width:768px) {
     .category{
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
     }
     .categories-title {
    width:100%;
    

}
     
}
@media screen and (min-width:980px) {
     .category-card{
          width: 220px;
          height: 220;
              }
              
     .category-card a p {
     font-weight: var(--title-weight);
     font-size: 24px;
     text-align: center;
     margin-bottom: 41px;
     line-height: 1.1;
     

}
}