.footer-main {
     width: 100%;
     margin: 0 auto;
}

.footer-main .footer-container
{
     background-color: var(--backgrouound-tertiary-color);

}
.footer-main .footer-container .footer-container_logo {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 32px 24px;
     
    
     
}
.footer-main .footer-container .footer-container_logo img{
     margin-bottom: 16px;
}

.footer-main .footer-container .footer-container_logo p{
      text-align: center;
      color: #fff;
      line-height: 1.5;

      
     
}
.footer-main .footer-container .footer-container_redesSociais {
      text-align: center;
      color: #fff;
}