.hero-img{
     height: 400px;
     width: 100%;
     background: url(../image/Banner-homePage-Mobile.jpg) no-repeat;
     background-size: cover;
     background-position: center center;
}

@media screen and (min-width: 768px) {
     .hero-img{
         height:620px;
         background: url(../image/tablet.jpg) no-repeat; 
         background-size: cover;
         background-position: center;
}
}
@media screen and (min-width: 1024px) {
     .hero-img{
         height:620px;
         background: url(../image/bannerHomePageDesktop.jpg) no-repeat; 
         background-size: cover;
         background-position: center;
}
}