.card {
     color: var(--text-secondary-color);
     background-color: rgb(19, 18, 18);
      padding: 24px 16px;
     width: 312px;
     height: 288px;
     box-sizing: border-box;
     border-radius: 16px;
     text-align: center;
    
}
.card header {
     display: block;
     background-color: transparent;
     position: static;
     margin: 0;
     padding: 0;
}
.card header p {
     font-size: 20px;
     font-weight: var(--text-weight);
}
.card header h3 {
     font-size: 40px;
     font-weight: var(--title-weight);
    margin: 8px 0 0;
}
.card header span {
     font-size: 32px;
     display: inline-block;
     margin-top: 24px;
     
     
}
