.image.firstJapao{
     background: url(/jornada-viagens/image/pacotesJapaogrid.jpg) no-repeat;
     background-size: cover;
}
.image.secondJapao {
background: url(/jornada-viagens/image/pacoresJapaogrid2.jpg) no-repeat;
     background-size: cover;
}
.image.thirdyJapao {
     background: url(/jornada-viagens/image/Montagem\ japão\ 3.png) no-repeat;
     background-size: cover;
}