@font-face {
     font-family: ;
     src: url();
}


/*Backgroud
Botoes
Cores de texto*/
:root{
     --background-primary-color: #ffffff;
     --backgrouound-secondary-color: #f5f5f5;
     --backgrouound-tertiary-color: #0000;

     --button-primary-color: #8F0101;
     --button-secondary-color: #B81515;

     --text-primary-color: #222222;
     --text-secondary-color: #ffffff;
}
/*css reset*/
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
h1{
     color: var(--text-primary-color);
}