.testimonials {
      width: 312px;
     margin: 0 auto
}
.testimonials-container {
     display: flex;
     flex-direction: column;
     gap: 32px;
}
.testimonials-container article header p {
     font-size: 16px;
     line-height: 28px;
     margin-bottom: 10px;
}

.testimonials-container footer {
     display: flex;
     flex-direction: row;
     gap: 24px;
     align-items: center;
     
}
.testimonials-container footer img{
     width: 86px;
     height: 86px;
}
.testimonials-container footer .profile-content h4 {
     font-size: 20px;
     line-height: 32px;
     font-weight: var(--title-weight);
    
}
.testimonials-container footer .profile-content .rating {
     font-size: 20px;
     line-height: 32px;
     font-weight: var(--title-weight);
}
.testimonials-container footer .profile-content .rating .star{
     font-size: 32px;
     color: var(--secondary-color);
     line-height: 32px;
    
}
@media screen and (min-width:768px) {
     .testimonials{
          width: 648px;
     }
     
}
@media  screen and (min-width:1024px) {
     .testimonials {
      width: 1000px;
    
}
     .testimonials-container {
     
     flex-direction: row;
    
}
     
}